/* Add here all your css styles (customizations) */

html { font-size: 62.5%; }
body { font-size: 14px; font-size: 1.4rem; } /* =14px */
h1   { font-size: 26px; font-size: 2.6rem; } /* =24px */
h2   { font-size: 20px; font-size: 2.0rem; } /* =20px */
p    { font-size: 16px; font-size: 1.6rem; } /* =16px */
footer p { font-size: 14px; font-size: 1.4rem; } /* =14px */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

header h1 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
    display: block;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-transform: uppercase;
    text-align:center;
}

h2 {
    display: block;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-weight:600;
}

p {
    font-size: 16px;
}

hr {
    display: block;
    height: 1px;
    border-top: 5px solid #AAF5B4;
    margin-bottom: -2px;
    margin-top:-4px;
    padding: 0;
}

.services-section li {
    padding-right:0;
    margin-right:0;
}

.services-section li {
    padding-right:0;
    margin-right:0;
}

.service-block p {
    font-size:14px;
    line-height: 1.6em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.autocenter {
    margin:0 auto;
}

.clear {
    clear:both;
}

.promo-text-contact {
  color: #fff;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

.blowup-correct-top {
    top:-100px;
    position: relative;
}

.promo-text-service-blowup {
  color: #000;
  font-size: 24px;
  font-weight: 200;
  text-align: left;
}

.promo-section-contact h1 {
  color: #fff;
  font-size: 35px;
  line-height: 1.1;
  font-weight: 400;
  padding: 10px 75px;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.left {
    text-align: left;
}

.gap {
  position:relative;
  height:30px;
  width:auto;
  color: #AAF5B4;
  margin-bottom:-30px;
  padding:0;
  margin: 0 auto;
  text-align: center;
  background: url(../img/patterns/GCflower.png) no-repeat;
  background-position: center;
}

.moveup {
    margin-top:0;
}

.services-section h1 {
  color: #fff;
  font: 28px "Open Sans",sans-serif;
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
  text-transform: uppercase;
}

.services-section2 {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 15px;
  text-align: left;
}

.services-section2 h1 {
  color: 444;
  font: 28px "Open Sans",sans-serif;
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
  text-transform: uppercase;
}

.contacts-section2 {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 15px;
  text-align: left;
}
.contacts-section2 h1 {
  color: #fff;
  font: 28px "Open Sans",sans-serif;
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
  text-transform: uppercase;
}
.contacts-section2 .lead {
  font-size: 16px;
}
.contacts-section2 i {
  float: left;
  margin-right: 15px;
}
.contacts-section2 h6 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 5px;
}

.contacts-section2 p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.contacts-section2 a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
