/* Reset */

html { font-size: 62.5%; }
body { font-size: 14px; font-size: 1.4rem; } /* =14px */
h1   { font-size: 26px; font-size: 2.6rem; } /* =24px */
h2   { font-size: 20px; font-size: 2.0rem; } /* =20px */
p    { font-size: 16px; font-size: 1.6rem; } /* =16px */
footer p { font-size: 14px; font-size: 1.4rem; } /* =14px */

/* Custom Changes */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h1 {
    display: block;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-transform: uppercase;
    text-align:center;
}

h2 {
    display: block;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-weight:600;
}

p {
    font-size: 16px;
}

hr {
    display: block;
    height: 1px;
    border-top: 5px solid #AAF5B4;
    margin-bottom: -1px;
    margin-top:0;
    padding: 0;
}

.page-break-flower-icon {
  height:30px;
  color: #AAF5B4;
  margin-bottom:-30px;
  padding:0;
  margin: 0 auto;
  margin-bottom: -4px;
  background: url(../img/patterns/GCflower.jpg) no-repeat;
  background-position: center;
}

option {
    color:white;
}

/* Disables Anchor Text on Phone Numbers */

span.disabledAnchor a {
       pointer-events: none !important;
       cursor: default;
       color:white;
}

.left {
    text-align: left;
}

.clear-both {
    clear:both;
}

.center-block {
    display: block;
    margin: 0 auto;
}

.title-services {
  color: #fff;
  font-size: 24px;
  font-weight: 200;
}

.portfolio-top-padding {
    padding-top:40px;
}