body {
  width: 100%;
  height: 100%;
  color: #333;
  font-size: 13px;
  line-height: 1.6;
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #555;
}

p,
li,
li a {
  color: #555;
}

a {
  color: #AAF5B4;
  text-decoration: none;
}

a,
a:focus,
a:hover,
a:active {
  outline: 0 !important;
}
a:focus {
  text-decoration: none;
}
a:hover {
  color: #AAF5B4;
  text-decoration: underline;
}

::selection {
  color: #fff;
  background: #AAF5B4;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  max-height: 100%;
}

/*Header
------------------------------------*/
/*Containers*/
@media (min-width: 768px) and (max-width: 991px) {
  .one-page-header .menu-container {
    width: 720px;
  }
}

@media (max-width: 991px) {
  .one-page-header .menu-container:before,
  .one-page-header .menu-container:after {
    content: " ";
    display: table;
  }

  .one-page-header .menu-container:after {
    clear: both;
  }

  .one-page-header > .navbar-default > .container {
    width: inherit;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .one-page-header > .navbar-default > .container > .navbar-header,
  .one-page-header > .navbar-default > .container > .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
  }
}

/*Navbar Logo*/
.one-page-header .navbar-brand {
  font-size: 31px;
  font-weight: 200;
  line-height: 15px;
  padding: 0;
  color: #fff !important;
  font-family: 'Open Sans', sans-serif;
}

.one-page-header .navbar-brand span {
  color: #AAF5B4 !important;
}

@media (max-width: 768px) {
  .one-page-header .navbar-brand {
    padding-left: 0;
  }
}

/*Navbar Toggle*/
.one-page-header .navbar-toggle {
  border: none;
  margin-right: 3px;
  padding-right: 0;
}

.one-page-header .navbar-toggle:hover,
.one-page-header .navbar-toggle:focus {
  background: none;
}

.one-page-header .navbar-toggle .icon-bar {
  background: #fff;
}

.one-page-header .navbar-toggle .icon-bar {
  height: 1px;
  width: 25px;
  font-size: 22px;
  background: #fff;
  margin-bottom: 7px;
}

.one-page-header .navbar-toggle .icon-bar:last-child {
  margin-bottom: 0;
}

/*Navbar*/
.one-page-header {
  border-bottom: none;
  background: rgba(0,0,0,0.4);
}
.one-page-header .container {
  position: relative;
}

.one-page-header .navbar-nav > li > a {
  color: #eee;
  font-size: 12.5px;
  text-transform: uppercase;
  padding: 17px 15px 13px;
}

.one-page-header .navbar-nav > li > a:before {
  left: -3px;
  top: 15px;
  z-index: 2;
  color: #eee;
  font-size: 4px;
  content: "\f10c";
  margin-right: 6px;
  position: absolute;
  font-family: FontAwesome;
}

.one-page-header .navbar-nav > li.home > a:before {
  content: "";
}

.one-page-header .navbar-nav > li > a:hover {
  z-index: 1;
  color: #AAF5B4;
}

.one-page-header .navbar-nav > li > a:focus {
  color: #AAF5B4;
}

.one-page-header .navbar-nav > .active > a,
.one-page-header .navbar-nav > .active > a:hover,
.one-page-header .navbar-nav > .active > a:focus,
.one-page-header .dropdown-menu > .active > a,
.one-page-header .dropdown-menu > .active > a:hover,
.one-page-header .dropdown-menu > .active > a:focus,
.one-page-header.top-nav-collapse .dropdown-menu > .active > a,
.one-page-header.top-nav-collapse .dropdown-menu > .active > a:hover,
.one-page-header.top-nav-collapse .dropdown-menu > .active > a:focus {
  z-index: 1;
  background: none;
  color: #AAF5B4 !important;
}

/*Responsive Navbar*/
@media (max-width: 991px) {
  /*Responsive code for max-width: 991px*/
  .one-page-header .navbar-header {
    float: none;
  }

  .one-page-header .navbar-toggle {
    display: block;
  }

  .one-page-header .navbar-collapse.collapse {
    display: none !important;
  }

  .one-page-header .navbar-collapse.collapse.in {
    display: block !important;
  }

  .one-page-header .navbar-nav {
    margin: 0 0 5px;
    float: none !important;
  }

  .one-page-header .navbar-nav > li {
    float: none;
  }

  .navbar-default .navbar-nav > li > a {
    padding: 10px 0;
  }

  .navbar-default .navbar-nav > li > a::before {
    content: '';
  }
}

@media(min-width: 992px) {
  .one-page-header.navbar {
    padding: 12px 0;
    -webkit-transition: background .3s ease-in-out,padding .3s ease-in-out;
    -moz-transition: background .3s ease-in-out,padding .3s ease-in-out;
    transition: background .3s ease-in-out,padding .3s ease-in-out;
  }

  .one-page-header.top-nav-collapse {
    /* Customize the look and feel of the collapsed top nav here */
    padding: 7px 0;
  }
}

@media (max-width: 768px) {
  .one-page-header .navbar-nav > li > a:before {
    content: " ";
  }
}

/*Navbar*/
@media (min-width: 992px) {
  .one-page-header.navbar .navbar-nav {
    float: right;
  }
}

/* Dropdown Menu */
.one-page-header .dropdown-menu,
.one-page-header.top-nav-collapse .dropdown-menu {
  border: none;
  background: none;
  box-shadow: none;
  float: none;
}
.one-page-header .navbar-nav a.dropdown-toggle {
  color: #fff !important;
}
.one-page-header.top-nav-collapse .navbar-nav a.dropdown-toggle {
  color: #777 !important;
}
.one-page-header .dropdown-menu .active > a,
.one-page-header .dropdown-menu li > a:hover {
  background: none;
  filter: none !important;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.one-page-header .dropdown-menu li > a:focus {
  background: none;
  filter: none !important;
}
@media (min-width: 992px) {
  .one-page-header .dropdown-menu,
  .one-page-header.top-nav-collapse .dropdown-menu {
    padding-top: 12px;
    min-width: 200px;
    border-radius: 0;
    z-index: 9999 !important;
    top: 100%;
  }
  .one-page-header.top-nav-collapse .dropdown-menu {
    padding-top: 7px;
  }
  .one-page-header .navbar-nav > li.dropdown:hover > .dropdown-menu {
    display: block;
  }
  .one-page-header .open > .dropdown-menu {
    display: none;
  }
  .one-page-header .dropdown-menu > li {
    background: rgba(0, 0, 0, 0.4);
  }
  .one-page-header.top-nav-collapse .dropdown-menu > li {
    background: #fff;
  }
  .one-page-header .dropdown-menu > li:first-child {
    padding-top: 15px;
  }
  .one-page-header .dropdown-menu > li:last-child {
    padding-bottom: 15px;
  }
  .one-page-header .dropdown-menu > li > a {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    padding: 6px 25px;
  }
  .one-page-header.top-nav-collapse .dropdown-menu > li > a {
    color: #777;
  }
  .one-page-header.top-nav-collapse .dropdown-menu > li > a:hover {
    color: #AAF5B4;
  }
}
@media (max-width: 991px) {
  .one-page-header .dropdown-menu {
    position: relative;
  }
  .one-page-header .dropdown-menu a {
    color: #fff !important;
    padding: 10px 20px;
    background: none !important;
  }
  .one-page-header.top-nav-collapse .dropdown-menu > li > a {
    color: #777 !important;
  }
  .one-page-header .dropdown-menu a:hover,
  .one-page-header.top-nav-collapse .dropdown-menu > li > a:hover {
    color: #AAF5B4 !important;
  }
}

/*Fixed Header*/
.one-page-header.top-nav-collapse {
  background: #fff;
  box-shadow: 0 0 3px #b5b5b5;
}

@media (max-width: 768px) {
  .one-page-header.top-nav-collapse {
    padding: 0;
  }
}

.one-page-header.top-nav-collapse .navbar-brand,
.one-page-header.top-nav-collapse .navbar-nav > li > a,
.one-page-header.top-nav-collapse .navbar-nav > li > a:before {
  color: #777;
}

.one-page-header.top-nav-collapse .navbar-brand {
  color: #777 !important;
}

/*Navbar Toggle*/
.one-page-header.top-nav-collapse .navbar-toggle .icon-bar {
  background: #555;
}

.one-page-header.top-nav-collapse .navbar-toggle:hover .icon-bar {
  background: #AAF5B4;
}

/*About Section
------------------------------------*/
/*About Section*/
.about-section {
  padding-top: 70px;
  padding-bottom: 140px;
}

.about-section .about-image {
  padding-top: 100px;
}

/*Style for Cube Portfolio wrapper*/
.cube-portfolio #filters-container {
  text-align: center;
}

.cube-portfolio #filters-container .cbp-filter-item-active {
  background: #AAF5B4;
  border-color: #AAF5B4;
}

.cube-portfolio .cbp-l-filters-button .cbp-filter-counter {
  color: #fff;
  background: #AAF5B4;
}

.cube-portfolio .cbp-l-filters-button .cbp-filter-counter:before {
  border-top-color: #AAF5B4;
}

.promo-section {
  position: relative;
}

.promo-text {
  color: #AAF5B4;
  position: relative;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  padding: 10px 50px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 60px;
}

@media (max-width: 600px) {
  .promo-text {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
}

/*Services Section*/

.services-section {
margin-bottom:0;
padding-bottom:0;
}

.services-section h1 {
  color: #fff;
  font: 28px "Open Sans",sans-serif;
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
  text-transform: uppercase;
}

.services-section li {
    padding-right:0;
    margin-right:0;
}

.services-section li {
    padding-right:0;
    margin-right:0;
}

/*Contacts Section*/

.contacts-section {
  color: #fff;
  padding-top: 35px;
  padding-bottom: 60px;
  font-size: 15px;
  text-align: left;
}

.contacts-section h1 {
  color: #fff;
  font: 28px "Open Sans",sans-serif;
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
  text-transform: uppercase;
}

.contacts-section h3 {
  color: #fff;
  font: 26px "Open Sans",sans-serif;
  padding-top: 0;
  padding-bottom: 10px;
}

.contacts-section h6 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.contacts-section p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  padding-top: 10px;
}

span.disabledAnchor a {
       pointer-events: none !important;
       cursor: default;
       color:white;
}

.contacts-side-address p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  padding: 0;
  margin: 0;
}

.contacts-section i {
  float: left;
  margin-right: 15px;
}

/*Footer*/

.footer-simple {
  padding: 20px 0;
  border-top: 1px solid #eee;
  margin-bottom:-40px;
}
.footer-simple p {
  margin-top: 15px;
  margin-bottom: 0;
}

.footer-simple .social-icons {
  margin-top: 10px;
}
.footer-simple .social-icons li {
  margin-bottom: 0;
}